<p><%= question_header(@question) %>

<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :text %>
    <%= form.text_field :text %>
  </p>

  <p><%= form.submit %></p>
<% end %>
