<h1><%= t('.header') %></h1>

<%= link_to t('.new'), new_admin_test_path %>
<%= link_to t('.created_gists'), admin_gists_path %>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.number_of_questions') %></th>
    <th colspan=3><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
