<h1>Test <%= @test.title %></h1>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p><%= link_to 'New Question', new_test_question_path(@test) %></p>

<table>
  <tr>
    <th>Questions:</th>
    <th colspan="3">Actions</th>
    <%= render @test.questions %>
  </tr>
</table>

<p><%= link_to 'Back', tests_path %></p>
